<div class="header-menu">
    <h1>ZooKeeper</h1>
    <div class="nav">
        <nav>
            Enclosures
            Animals
        </nav>
    </div>
    <div class="user-corner">
        <span id="user">Tyler</span>
        <span id="position">Head Keeper - Wolves</span>
    </div>
</div>