<div class="header-menu">
    <h1><a href="/">ZooKeeper</a></h1>
    <div class="user-corner">
        <ul>
            <li>
                Hey there, <span id="user"><%= name %></span>!
            </li>
        </ul>
    </div>
</div>