<div class="header-menu">
    <h1><a href="/">ZooKeeper</a></h1>
    <div class="nav">
<<<<<<< HEAD
      
=======
        <nav>
            <a href="/enclosures">Enclosures</a>
            <a href="/animals">Animals</a>
        </nav>
>>>>>>> submaster
    </div>
    <div class="user-corner">
        <ul>
            <li>
                Hey there, <span id="user"><%= name %></span>!
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
        
    </div>
</div>