<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<%- include('../partials/header.ejs') %> 
			<h1>Add a new Animal to the list</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/animals">List of Animals</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<form action="/animals" method="post">
				Name of the Animal: <input type="text" name="name" required/><br/>
				The Animal `s Age: <input type="number" name="age" required/><br/>
				species: <input type="text" name="species" required/><br/>
				<input type="submit" value="Submit"/>
			</form>
		</main>
	</body>
</html>