
<body>
    <h1><a href="/">ZooKeeper</a></h1>
    <% if (user !== '') { %>
        <p>Welcome back, <span><%= user %></span>!</p>
    <!-- <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a> -->
    <% } else { %>
    <p><a href="/auth/google">Login with Google</a></p>
    <% } %>

</body>
