<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body>
    <h1><a href="/">ZooKeeper</a></h1>
    <p>Welcome back, <span><%= user.username %></span>!</p>
    <div class="nav">
        <nav>
            <a href="/enclosures/">Enclosures</a>
            <a href="/animals/">Animals</a>
        </nav>
    </div>
</body>
</html>