<!DOCTYPE html>
<html>
<head>
  <title>Project-ZooKeeper</title>
<link rel='stylesheet' href='css/style.css'>
</head>
<body>
    <a href='/'>Home</a>
    <div class="nav">
        <nav>
            <a href="/enclosures">Enclosures</a>
            <a href="/animals">Animals</a>
        </nav>
    </div>
  <%- body %>
</body>
</html>