/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Helvetica Neue"; }

/* Classes */
.nav {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25)); }
  .nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1.5rem;
    font-weight: bold; }
    .nav a:hover {
      transition: all 0.5s ease-in-out;
      color: black; }
  .nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .nav ul li {
      padding: 1.5rem; }

/* Default Selectors */
h1, h2, h3 {
  font-weight: 500; }

a {
  font-size: 1.5rem; }
  a:hover {
    color: black;
    transition: all 0.5s ease-in-out; }

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 100px; }
  header h1 {
    margin: 15px;
    font-size: 2.5rem; }
  header ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
    header ul li {
      padding: 2rem;
      list-style: none; }

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
