* {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next', sans-serif; }

.nav {
  display: inline-block;
  flex-direction: row;
  width: 300px;
  height: 75vh;
  justify-content: center;
  background-color: #1b1b1b;
  font-size: 30px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.5));
  z-index: 1; }

div ul li {
  line-height: 55px;
  border-bottom: 1px solid red;
  list-style-type: none; }

div ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  padding-left: 40px;
  display: block;
  border-left: 3px solid transparent; }

div ul li a:hover {
  color: cyan;
  background: 1e1e1e;
  border-left-color: cyan;
  transform: translateY(-10%); }

h2 {
  font-size: 40px;
  margin-left: 45px;
  margin-top: 0px; }

h1 {
  margin-left: 10px; }

p {
  font-size: 22px;
  margin-left: 10px; }

a {
  color: white; }

body {
  background-color: #3a7779; }

.logo {
  width: 140px; }

.loginButton {
  margin-left: 60px; }

.user-corner {
  padding-left: 20px; }

.container {
  display: flex;
  justify-content: left;
  margin-left: 400px; }

.newAnimal {
  display: flex;
  justify-content: left;
  margin-left: 300px; }

.newAnimals {
  display: flex;
  justify-content: left;
  margin-left: 320px; }

.animalShow {
  display: flex;
  justify-content: left;
  margin-left: 330px; }

.animalData {
  text-decoration: none;
  justify-content: left;
  margin-left: 350px; }

.animalInfo {
  display: flex;
  justify-content: left;
  margin-left: 330px; }

.animalInfoList {
  justify-content: left;
  margin-left: 330px; }

.enclosure {
  display: flex;
  justify-content: left;
  margin-left: 330px;
  position: absolute;
  top: 2vh; }

.enclosureList {
  display: flex;
  justify-content: left;
  margin-left: 350px;
  width: 900px;
  height: 900px;
  overflow: scroll;
  flex-wrap: wrap;
  position: absolute;
  top: 10vh; }

.enclosureName {
  display: flex;
  justify-content: left;
  margin-left: 330px; }

.enclosureCall {
  display: flex;
  justify-content: left;
  margin-left: 330px; }

.addEnclosure {
  justify-content: left;
  margin-left: 330px; }

.enclosureData {
  justify-content: left;
  margin-left: 330px; }

.enclosureEditButton {
  justify-content: left;
  margin-left: 330px; }

.enclosureEditPage {
  justify-content: left;
  margin-left: 330px; }

.enclosureEditPageName {
  justify-content: left;
  margin-left: 330px; }

img {
  width: 200px; }

.animal-img {
  justify-content: left;
  margin-left: 700px; }

.animal-list {
  position: absolute;
  top: 5vh;
  overflow: scroll;
  width: 900px;
  height: 900px; }

.list {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3; }

.enclosure-img {
  display: flex;
  margin-bottom: -100px; }
  .enclosure-img img {
    width: 20vw; }
  .enclosure-img a {
    text-decoration: none; }

.add-new-animal {
  position: absolute;
  top: 5vh;
  margin-left: 50px;
  z-index: 0; }

.add-new-enclosure {
  position: absolute;
  top: 5vh;
  margin-left: 50px;
  z-index: 0; }

.enclosure-show {
  position: absolute;
  top: 5vh;
  margin-left: 50px;
  z-index: 0; }

.animal-show {
  position: absolute;
  top: 5vh;
  margin-left: 50px;
  z-index: 0; }

.edit-enclosure {
  position: absolute;
  top: 5vh;
  margin-left: 50px;
  z-index: 0; }

.edit-animal {
  position: absolute;
  top: 5vh;
  margin-left: 50px;
  z-index: 0; }

.animal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background-position: center;
  background-size: cover; }

.animal-content a {
  height: 100%;
  width: 100%;
  color: white;
  text-decoration: none;
  text-shadow: 0px 0px 20px black; }

main ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none; }
