// scss variable

$primaryColor: blue;
$secondaryColor: black;
$textOnPrimary: white;

$base-font: 16px;
$primaryFont: "Helvetica Neue";

// Mixins
@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}
/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: $base-font;
    font-family: $primaryFont;
}

/* Classes */
.nav {
    background-color: $primaryColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
    // 
    filter: drop-shadow(0 4px 4px rgba(0,0,0,0.25));
    a {
        color: $textOnPrimary;
        text-decoration: none;
        // 1.5 rem = 1.5 * 16px (base font size)
        font-size: 1.5rem;
        padding: 1.5rem;
        font-weight: bold;
        &:hover {
            @include transition-ease;
            color: $secondaryColor;
        }
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
        li {
            padding: 1.5rem;
        }
    }
}

/* Default Selectors */
h1, h2, h3 {
    font-weight: 500;
}
a {
    font-size: 1.5rem;

    &:hover {
        color: $secondaryColor;
        @include transition-ease;
    }
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 100px;
    h1 {
       margin: 15px;
       font-size: 2.5rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
            padding: 2rem;
            list-style: none;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}