
<body>
    <%- include('../partials/header.ejs', {name: user.username}) %> 
    <h1>Enclosures</h1>
    <section class="main">
        <ul>
            <% enclosures.forEach(enclosure => { %>
            <li>
                <a href="/enclosures/<%= enclosure.id %>"><%= enclosure.name %></a><br>
                Occupancy: <%= enclosure.animals.length %>
            </li><br>
            <% }) %>
        </ul><br>
        <a href="/enclosures/new">Add Enclosure</a>
    </section>
</body>
