<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Document</title>
</head>
<body>
    
    <h1>New Page</h1>
    <form class="main" action="/enclosures" method="POST">
        Name: <input type="text" name="name"><br>
        Keeper In Charge: <input type="text" name="keeper"><br>
        Date Created: <input type="date" name="lastChecked"><br>
        Notes: <textarea name="comments"></textarea><br>
        Image src: <input type="url" name="img">
        <input type="submit" value="Submit">
    </form>
</body>
</html>